* {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  font-family: "Secular One", sans-serif;
}
body {
  background-color: lightgrey;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.spec-search-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 0.2em;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  width: 50px;
  margin: 15px;
}

.city-quick-select {
  display: flex;
  margin-top: 0.5em;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.city-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin: 2em;
  gap: 3em;
}
.city-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.ext-forc {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: lightblue;
  box-shadow: 1px 0px 15px 9px grey;
  border-radius:15px;
  width: 550px;
  margin-right: 10px;
  margin-left:10px;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items:center;

}

.card-style {
  display: flex;
  margin: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 150px;
  padding: 3px;
  box-shadow: 1px 0px 15px 9px grey;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  transition: 0.4s;
  background-color: lightsalmon;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
